<!--CSS file for the photography page--> 
<!--the background color for the navigation bar--> 
nav.navbar{
	background-color: #f9e79f;
}

<!--the background image for the jumbotron and other attributes--> 
.jumbotron{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ9fMu-ycjpG7y5ZuDIvFaQuQA0DnjcBfm-w&usqp=CAU");
	font-family: fantasy;
	text-decoration: underline;
	text-decoration-color: #ffffff;
	opacity: 1.0;
	transition: opacity 1s;
	
}
<!--adding attributes for the transition--> 
.jumbotron:hover{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZ9fMu-ycjpG7y5ZuDIvFaQuQA0DnjcBfm-w&usqp=CAU");
	font-family: fantasy;
	text-decoration: underline;
	text-decoration-color: #ffffff;
	opacity: 0.5;
	
}

<!--adding attributes for the jumbotron text--> 
.jumbotron h1{
	font-size: 100px;
	font-weight: bold;
	color: #ffffff
}
<!--adding attributes for the header tags throughout the page--> 

h1{
	font-size:70px;
	color: #ffffff;
	font-family: cursive;
	text-decoration: underline;
	text-decoration-color: #ffffff;
}
<!--adding attributes for the intro--> 
.intro{
	font-size: 25px;
	font-family: Georgia;
	color: #d4ac0d;
}
	
<!--adding attributes for the images in the website--> 
.photos{
	width:400px;
	height:300px;
	border-width:5px;
	border-color:#f4d03f;
	border-style: dashed;
	opacity: 1.0;
	transition: opacity 1.5s;
}
<!--adding transition attributes for when hovering--> 
.photos:hover{
	width:400px;
	height:300px;
	border-width:5px;
	border-color:#f4d03f;
	border-style: dashed;
	opacity: 0.75;
}
<!--adding attributes for the line breakers and for the link--> 	

hr{
	height: 2px;
	background-color: #9a7d0a
}

#link{
	color: #9a7d0a;
	font-size: 20px;
}